.hero {
  position: relative;
  width: 100vw;
  height: 650px;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fc8686;
  margin-bottom: 50px;

  .sushiImg {
    position: absolute;
    top: 10px;
    
    &:nth-child(2) {

    }
  }

  .info {
    position: absolute;
    left: 0;
    top: 32%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: white;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .subtitle {
      color: white;
      font-size: 1.25rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    
    .button {
      margin: 0 10px;
      background: transparent;
      border: none;
      border-radius: 5px;
      border: 2px solid white;
      font-size: 1.25rem;
      text-transform: uppercase;
      color: white;
      padding: 0.5rem 1.5rem;
      transition: all .2s ease-in;
      cursor: pointer;

      &:hover {
        color: #E44B3A;
        background-color: white;
      }
    }

  }

  .waveLayer {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;

    svg {
      overflow: hidden;
      min-width: 1920px;
      width: 100%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .waveLayer:nth-child(2) { top: 45% }
  .waveLayer:nth-child(3) { top: 60% }
  .waveLayer:nth-child(4) { top: 70% }
}


@media (min-width: 768px) {
  .hero {
    margin-bottom: 80px;
  
    .info {
      .title {
        font-size: 3rem;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      .button {
        font-size: 1.5rem;
        border: 3px solid white;
        padding: .8rem 2.4rem;
      }
    }
  
  }
}


@media (min-width: 1200px) {
  .hero {
    .info {
      .title {
        font-size: 3rem;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      .button {
        font-size: 1.5rem;
        border: 3px solid white;
        padding: .8rem 2.4rem;
      }
    }
  
  }
}